<div class="clearfix">
      <strong>Share records:</strong>
      <%= form_tag share_multiple_shareables_path, method: :post do %>
        <%= hidden_field_tag 'model_class_name', model %>
        <% if model.respond_to?(:filterrific_available_filters) %>
          <% model.filterrific_available_filters.each do |filter| %>
            <%= hidden_field_tag "filterrific[#{filter}]", @filterrific.send(filter) %>
          <% end %>
        <% else %>
          <%= hidden_field_tag "search", params[:search] %>
        <% end %>
        <ul class="list-group">
          <% (User.all + Group.all).each do |a| %>
              <li class="list-group-item">
                <%= a.name.present? ? a.name : "no name given (id: #{a.uid})" %>
                <span class="pull-right">
                  <%= check_box_tag 'accessors[]', [a.id, a.class.name] %> read
                  <small><%= check_box_tag 'can_edit[]', [a.id, a.class.name] %> can edit</small>
                </span>
              </li>
          <% end %>
        </ul>
        <%= submit_tag "Add", class: 'btn btn-default pull-right' %>
      <% end %> 
</div>