<div class="clearfix">
      <%= form_tag share_multiple_shareables_path, method: :post do %>
        <%= hidden_field_tag 'model_class_name', model %>
        <% model.filterrific_available_filters.each do |filter| %>
          <%= hidden_field_tag "filterrific[#{filter}]", @filterrific.send(filter) %>
        <% end %>

        <ul class="list-group">
          <% (User.all + Group.all).each do |a| %>
              <li class="list-group-item">
                <%= a.name.present? ? a.name : "no name given (id: #{a.uid})" %>
                <span class="pull-right">
                  <%= check_box_tag 'accessors[]', [a.id, a.class.name] %> share
                  <small><%= check_box_tag 'can_edit[]', [a.id, a.class.name] %> can edit</small>
                </span>
              </li>
          <% end %>
        </ul>
        <%= submit_tag "Add", class: 'btn btn-default pull-right' %>
      <% end %> 
</div>